<!DOCTYPE html>
<head>
    <title>
        {%block title%} Bienvenue {% endblock %} 
    </title>
    {% block stylesheets %}
        <link href="style/main.css" rel="stylesheet" />  
    {% endblock %}
    
    <meta charset="utf-8" />
</head>
<body>
    {% block body %}
        
    {% endblock %}

</body>