<div class="potContainer ">
    <div class="playerRepresentation">
        <p class="playerName">{{playerName}}</p>
        <p class="playerMoney"> {{playerMoney}}</p>
    </div>
    <p class="stackInformation">mise : 0 </p>
</div>