<div id="scores">
    <p class="bankScore">{{bankScore}}</p>
    <p class="scoreInfo">Score</p>
    <p class="playerScore">{{playerScore}}</p>
    {% if playerSplitScore != null %}
        <p class="splitScore">{{playerSplitScore}}</p>
    {% endif %}
</div>